name: Update Data

on: [push]

jobs:
  fetch_data:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'

      - name: Fetch Data
        uses: ./.github/actions/fetch_data

      - name: Parse Data
        run: ./bin/parse_data

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v1
        with:
          token: ${{ secrets.REPO_TOKEN }}
          commit-message: "Update pumi data"
          title: "Update pumi data"
          labels: "update_data,automerge"
          base: "master"

      - name: Upload Data
        uses: actions/upload-artifact@v1
        with:
          name: data_files
          path: tmp
